.contact-us {
    padding: 60px 0;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }

    &__form {
        box-shadow: 0px 0px 20.84px 0px #00000030;
        background-color: #fff;
        padding: 30px;
        border-radius: 6px;

        &-title {
            font-size: 24px;
            font-weight: 700;

            margin-bottom: 30px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-title {
            font-size: 32px;
            font-weight: 700;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 3px solid #eeeeee;
    }

    &__block {
        display: flex;
        gap: 10px;

        &-image {
            background-color: #ed3237;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;

            img {
                transform: scale(0.7);
            }
        }

        &-info {
            h2 {
                font-family: Ebrima;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    &__socials {
        padding-top: 10px;
        &-title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &-wrap {
            display: flex;
            gap: 15px;

            @media (max-width: 576px) {
                justify-content: center;
            }
        }

        &-block {
            position: relative;
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ed3237;
            border-radius: 10px;

            a {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
            }

            img {
                transform: scale(0.8);
            }
        }

        @media (max-width: 576px) {
            text-align: center;
        }
    }
}
