.footer {
    padding-top: 60px;
    padding-bottom: 15px;
    &__top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 60px;
        padding-bottom: 60px;
        border-bottom: 2px solid #000000;

        @media (max-width: 576px) {
            text-align: center;
            grid-template-columns: 1fr;
            gap: 30px;

            .footer__block:nth-child(2) {
                .footer__item a{
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            .footer__block:nth-child(3) {
                display: none;
            }
            .footer__block:nth-child(4) {
                .footer__list {
                    align-items: center;
                }
            }
        }
    }

    &__logo{
        @media (max-width: 576px) {
            img{
                width: 85%;
            }
        }
    }

    &__description {
        line-height: 1.5;
        @media (max-width: 576px) {
            display: none;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-title {
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__item--contact-us{
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    &__bottom {
        padding-top: 15px;
        text-align: center;
    }

    &__link {
        display: flex !important;
        align-items: center;
        gap: 10px;
    }

    .copyright {
        font-size: 14px;

        a {
            text-decoration: underline;
            transition: all 0.3s ease;
            &:hover {
                color: #ed3237;
            }
        }
    }
}
