.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 29.4px 0px #00000052;
    padding: 15px 0;
    z-index: 90;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: clamp(1.875rem, -3.75rem + 11.719vw, 3.75rem);
    }

    &__logo {
        img {
            width: 150px;
        }
    }

    &__menu {
        max-width: clamp(31.25rem, -18.995rem + 98.039vw, 43.75rem);
        width: 100%;

        @media (max-width: 820px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 18px;
        }
    }

    .header__btn {
        display: none;

        @media (max-width: 820px) {
            display: block;
        }
    }
}
