.header {
    padding: 15px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }

    &__logo {
        img {
            width: 150px;
        }
    }

    &__menu {
        max-width: 700px;
        width: 100%;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 18px;
        }
    }

    .header__btn{
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
    }
}
