.projects {
    padding: 60px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .project {
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease;

        &__description {
            opacity: 0;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            padding: 0 15px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            transition: opacity 0.5s ease, visibility 0.5s ease;

            pointer-events: none;
        }

        &:hover .project__description {
            opacity: 1; /* Показываем описание */
            visibility: visible; /* Делаем его видимым */
        }

        &__image {
            img {
                width: 100%;
                height: 236px;
                transition: transform 0.5s ease;
                object-fit: cover;
            }

            &:hover img {
                transform: scale(1.25); /* Увеличиваем изображение */
            }
        }
    }
}
