@import "./libs/reset";
@import "./components/all";

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.banner {
    width: 100%;
    max-height: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-image: linear-gradient(
            102.82deg,
            rgba(0, 0, 0, 0.76) 30.08%,
            rgba(114, 24, 27, 0.488772) 69.81%,
            rgba(237, 50, 55, 0.6384) 94.64%
        ),
        url("../assets/banners/about-us.jpg");

    h1 {
        font-size: 54px;
        font-weight: 700;
        color: #fff;
    }
}

a.link {
    margin-top: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 8px 20px;
}
a.link-1 {
    background-color: #000;

    &:hover {
        background-color: #ed3237;
        transform: scale(1.1);
        gap: 15px;
    }
}
a.link-2 {
    background-color: #ed3237;

    &:hover {
        background-color: #fff;
        color: #000;
        transform: scale(1.1);
        gap: 15px;
    }
}
a.link-2:hover svg {
    color: #000;
}
a.link-3 {
    background-color: #000;

    &:hover {
        background-color: #fff;
        color: #000;

        transform: scale(1.1);
        gap: 15px;
    }
}
a.link-3:hover svg {
    color: #000;
}
